<template>
  <div>
    <el-table
        :data="tableData"
        border
        style="width: 541px"
        :row-class-name="tableRowClassName"
        :row-style="selectedStyle"
        @row-click="rowClick">
      <el-table-column
          sortable
          prop="id"
          label="id"
          width="180">
      </el-table-column>
      <el-table-column
          sortable
          prop="number"
          label="编号"
          width="180">
      </el-table-column>
      <el-table-column
          sortable
          prop="address"
          label="地址"
          width="180">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
name: 'sort',
  data(){
    return{
      tableData: [{
        id: '1',
        number: '12',
        address: '1211号'
      }, {
        id: '3',
        number: '58',
        address: '1210号'
      }, {
        id: '2',
        number: '24',
        address: '1209号'
      }, {
        id: '4',
        number: '36',
        address: '1212号'
      }],
      getIndex:"",
    }
  },
  methods:{
    selectedStyle ({rowIndex}) {
      if ((this.getIndex) === rowIndex ) {
        return {
          "background-color": "pink"
        };
      }
    },
    tableRowClassName ({row, rowIndex}) {
      row.index = rowIndex;
    },
    rowClick (row) {
      this.getIndex=row.index
    }
  },
}
</script>

<style scoped />

